# dotenv environment variable files
.env
.env.development.local
.env.test.local
.env.production.local
.env.local

# Deno
deno.lock
deno_modules/

# Fresh build files
_fresh/

# Node modules (if using npm dependencies)
node_modules/
package-lock.json

static/.DS_Store
